<%= form_with(model: job_listing, local: true) do |form| %>
  <% if job_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_listing.errors.count, "error") %> prohibited this job_listing from being saved:</h2>

      <ul>
      <% job_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :title, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: "form-control", id: "job_listing_title", placeholder: "Job or Postition Title" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :platform, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :platform, JobListing::PLATFORM_TITLES.map { |k, v| [k, v] }, :first, :last, { prompt: true }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :allow_remote, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.check_box :allow_remote %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :location, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :location, class: "form-control", id: "job_listing_location", placeholder: "City, State" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :company, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :company, class: "form-control", id: "job_listing_company", placeholder: "Company Name" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, class: "form-control", id: "job_listing_description" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :contact, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :contact, class: "form-control", id: "job_listing_contact", placeholder: "Contact Email" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
