<% if @preview_mode %>
  <% search_engine_no_index %>

  <%= render "shared/wizard_nav" %>

  <h1>
    Preview Mode<br>
    <small>This listing has not been published to the public, yet.</small>
  </h1>
<% end %>

<p id="notice"><%= notice %></p>

<%= markdown(@job_listing.description) %>

<%= link_to "Edit", edit_job_listing_path(@job_listing), class: "btn btn-primary" if @preview_mode %>
<%= link_to "Complete Listing", new_order_path(job_listing: @job_listing), class: "btn btn-success" if @preview_mode %>
