<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fafer</title>
    <%= csrf_meta_tags %>
    <%= tag(:meta, { charset: "utf-8" }, true) %>
    <%= tag(:meta, { "http-equiv" => "X-UA-Compatible", content: "IE=edge" }, true) %>
    <%= tag(:meta, { name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }, true ) %>
    <%= tag(:meta, { name: "robots", content: content_for(:meta_robots) }, true) if content_for?(:meta_robots) %>
    <%= tag(:meta, { name: "googlebot", content: content_for(:meta_googlebot) }, true) if content_for?(:meta_googlebot) %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag :div, class: "container" do %>

      <%= content_tag :div, class: "heading-title" do %>
        <%= link_to root_url do %>
          <%= content_tag :h1, "FAFER", class: "text-center" %>
        <% end %>
      <% end %>

      <%= content_tag :div, class: "new-listing" do %>
        <%= content_tag :div, class: "row" do %>
          <%= content_tag :div, class: "col-sm text-center" do %>
            <%= job_post_button %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag :div, class: "row platform-nav-container" do %>
        <% Platform.active.each do |platform| %>
          <%= content_tag :div, class: "col-md text-center" do %>
            <%= link_to platform.name, platform_path(platform), class: "platform-nav#{current_page?(platform_path(platform)) ? " active" : ""}" %>
          <% end %>
        <% end %>
      <% end %>

      <%= yield %>

    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
