<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fafer</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag :div, class: "container" do %>

      <%= content_tag :div, class: "heading-title" do %>
        <%= link_to root_url do %>
          <%= content_tag :h1, "FAFER", class: "text-center" %>
        <% end %>
      <% end %>

      <%= content_tag :div, class: "new-listing" do %>
        <%= content_tag :div, class: "row" do %>
          <%= content_tag :div, class: "col-sm text-center" do %>
            <%= job_post_button(controller_action: action_name) %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag :div, class: "row platform-nav-container" do %>
        <% Platform.active.each do |platform| %>
          <%= content_tag :div, class: "col-md text-center" do %>
            <%= link_to platform.name, platform_path(platform), class: "platform-nav#{current_page?(platform_path(platform)) ? " active" : ""}" %>
          <% end %>
        <% end %>
      <% end %>

      <%= yield %>
    <% end %>
  </body>
</html>
